<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @landscape.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @landscape.description %>
</p>

<% if @landscape.photo %>
  <p>
	  <strong>Photo:</strong><br>
    <%= image_tag @landscape.photo %>
  </p>
<% end %>


<%= link_to 'Edit', edit_trail_landscape_path(@trail, @landscape) %> |
<%= link_to 'Back', trail_landscapes_path(@trail) %>
