<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trail.name %>
</p>

<p>
  <strong>Introduction:</strong>
  <%= @trail.introduction %>
</p>

<p>
  <strong>Location:</strong>
  <%= @trail.location %>
</p>

<p>
  <strong>GPS</strong>
  <% if @trail.has_geo? %>
	  <%= "#{@trail.lat}, #{@trail.long}" %>
  <% else %>
	  No geo
  <% end %>
</p>

<p>
  <strong>Reference</strong>
  <% if @trail.reference_link %>
	<%= link_to @trail.reference_link, @trail.reference_link %>
  <% else %>
	No link now
  <% end %>
</p>

<%= link_to 'Landsacpe list', trail_landscapes_path(@trail) %>
<br />
<%= link_to 'Edit', edit_trail_path(@trail) %> |
<%= link_to 'Back', trails_path %>
