<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trail.name %>
</p>

<p>
  <strong>Introduction:</strong>
  <%= @trail.introduction %>
</p>

<p>
  <strong>Location:</strong>
  <%= @trail.location %>
</p>

<%= link_to 'Landsacpe list', trail_landscapes_path(@trail) %>
<br />
<%= link_to 'Edit', edit_trail_path(@trail) %> |
<%= link_to 'Back', trails_path %>
